* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(0, 255, 229),
    rgb(26, 47, 201)
  );
}

.topnav h1 {
  color: #000000;
  text-align: center;
  padding: 20px;
  margin: 0;
  text-decoration: none;
  font-size: 40px;
  box-shadow: 0px 0px 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*.formsection {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
}*/

.formsection {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 500px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2000px);
  box-shadow: 0px 0px 20px white;
  flex-direction: column;
  text-align: center;
}

h3 {
  padding: 15px;
  font-size: 40px;
  color: black;
}
input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  width: 100%;
  margin-bottom: 10px;
}
input:focus {
  background-color: lightblue;
}

#role {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  width: 100%;
  background-color: #f1f1f1;
}

#role:focus {
  background-color: lightblue;
}

#login {
  background-image: linear-gradient(
    to right,
    #84fab0 0%,
    #8fd3f4 51%,
    #84fab0 100%
  );
  padding: 10px 35px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 20px #eee;

  box-shadow: 0 0 15px #eee;
  margin-top: 5px;
}

#login:hover {
  background-position: right center;
  cursor: pointer;
  transform: scale(1.2);
  background-image: linear-gradient(
    to right,
    #009245,
    #fcee21,
    #ff12a8fc,
    #d9e021
  );
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
  box-shadow: 5px 5px 4px #ffffff;
  color: #ffffff;
}

.click {
  font-size: 18px;
  color: #000000;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: rgb(255, 255, 255);
}
